.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    place-items: center;
    margin: auto;
    gap: 2rem;
    width: 50%;
    margin-bottom: 2rem;
    
}

.cards::hover{
    
    

}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}